/* Section */
.section {
  max-width: 760px;
  margin: 8rem auto 14rem auto;
}

.title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.5;
}

/*
* Hero
*/
.hero {
  padding-top: 12%;
  padding-bottom: 4rem;
}

.logo {
  text-align: center;
}

.logo img {
  width: 360px;
  max-width: 100%;
}

.motto {
  color: var(--primary-dark);
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0.5rem 0 1.5rem 0;
}

.heroSub {
  color: var(--text-secondary);
  max-width: 512px;
  width: 100%;
  margin: 0 auto 2rem auto;
  text-align: center;
  line-height: 1.5;
}

.appLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnLaunch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2.5rem;
  font-weight: bold;
  border-radius: 50px;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-decoration: none;
  margin: 0 auto 10px auto;
  width: 100%;
  max-width: 240px;
  text-align: center;
  background-color: var(--primary-dark);
  color: var(--text);
  margin-bottom: 1.5rem;
}

.btnLaunch:hover,
.btnLaunch:focus {
  background-color: var(--primary);
}

.nativeBadge {
  width: 120px;
}

.btnNative {
  margin: 0.25rem;
}

.musicAppContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

/* Cross */
.musicApp {
  height: 32px;
  background: none;
  border: none;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  margin: 0 4px;
  border-radius: 9999px;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.2s;
  cursor: pointer;
}

.musicApp.active {
  opacity: 1;
}

.musicApp img {
  height: 100%;
  width: auto;
}

.mockPlayer {
  display: flex;
  max-width: 512px;
  margin: 0 auto;
  background-color: var(--background-secondary);
  padding: 8px;
  border-radius: 8px;
}

.mockPlayer img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
}

.mpContainer {
  padding: 1rem;
}

.mpTitle {
  color: var(--text);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-decoration: none;
}

.mpAritsts {
  color: var(--text-secondary);
}

/* Social */
.imgFeatSocial {
  max-width: 100%;
  width: 512px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  border-radius: 16px;
}
